# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Prisma
prisma/migrations/

# TypeScript build output
dist/

# Environment variables
.env

# backups directory
backups/

# Logs
logs/
*.log
