<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styledash.css" />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="sidebar">
      <h2>Proyectos y construcciones Marsal S.A.de C.V</h2>
      <br /><br /><br />
      <img src="/assets/img/imgendash.jpg" />
    </nav>

    <main class="main-content">
      <header>
        <img src="/assets/img/LogoMarsal.png" class="logo" />
        <h1>Sistema de monitoreo para activos MARSAL</h1>
        <button onclick="logout()">Cerrar Sesión</button>
      </header>
      <br /><br /><br /><br />
      <div class="stats">

        <div class="row">
          <a href="Usuarios.html" class="card">
            <i class="bx bxs-user"></i><br />
            Usuarios <span id="users"></span>
          </a>
          <a href="/equipos" class="card">
            <i class="bx bxs-cog"></i> <br />
            Maquinaria <span id="machines"></span>
          </a>
          <a href="/localizacion" class="card">
            <i class="bx bxs-map"></i> <br />
            Localización <span id="location"></span>
          </a>
          <a href="/distancia" class="card">
            <i class="bx bxs-direction-right"></i> <br />
            Distancia <span id="distance"></span>
          </a>
          <a href="/combustibleRestante" class="card">
            <i class="bx bxs-gas-pump"></i> <br />
            Combustible restante <span id="combrestant"></span>
          </a>
          <a href="/combustibleUsado" class="card">
            <i class="bx bxs-gas-pump"></i> <br />
            Combustible usado <span id="combtotal"></span>
          </a>
        </div>
        <div class="row">
          <a href="/combustibleUsado24" class="card">
            <i class="bx bxs-gas-pump"></i> <br />
            Combustible de las últimas 24 hrs <span id="combtotal"></span>
          </a>
          <a href="/clc" class="card">
            <i class="bx bxs-truck"></i><br />
            Carga Acumulada <span id="CargaAcu"></span>
          </a>
          <a href="/cih" class="card">
            <i class="bx bxs-time-five"></i><br />
            Horas Inactivas acumuladas <span id="hrsinactivasacu"></span>
          </a>
          <a href="/coh" class="card">
            <i class="bx bxs-time"></i><br />
            Horas Operadas acumuladas <span id="hrsOpeAcu"></span>
          </a>
          <a href="/cpt" class="card">
            <i class="bx bxs-box"></i><br />
            Carga útil acumulada <span id="cargaU"></span>
          </a>
          <a href="/DEFRestante" class="card">
            <i class="bx bxs-droplet"></i><br />
            DEF restante <span id="defRest"></span>
          </a>
        </div>
        <div class="row">
          <a href="/estadoMotor" class="card">
            <i class="bx bxs-bell"></i><br />
            Estado del motor <span id="statusmotor"></span>
          </a>
          <a href="/codigosError" class="card">
            <i class="bx bxs-error"></i><br />
            Códigos de error <span id="faultCode"></span>
          </a>
        </div>
      </div>
      <br>
      <hr>
      <div class="stats reports">
        <h2>Generación de repotes</h2>

        <div class="row">
          <a href="/reporte" class="card">
            <i class="bx bxs-calendar"></i><br />
            Reporte general de promedios de todos los equipos
          </a>
          <a href="/reporte" class="card">
            <i class="bx bxs-calendar-week"></i><br />
            Reporte de tiempo operativo y cargas
          </a>
          <a href="/reporte" class="card">
            <i class="bx bxs-calendar-week"></i><br />
            Reporte de consumo de la maquinaría          </a>
          <a href="/reporte" class="card">
            <i class="bx bxs-calendar-event"></i><br />
            Reporte de análisis de códigos de error
          </a>
          <a href="/reporte" class="card">
            <i class="bx bxs-calendar-edit"></i><br />
            Reporte de rendimiento del motor actividad e inactividad y
            productividad
          </a>
        </div>
      </div>
      </section>
    </main>

    <script src="/js/dash.js"></script>
  </body>
</html>
