<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/styleEq.css" />
    <script type="module" src="/scripts/location.js"></script>

    <title>Localizacion</title>
  </head>
  <header class="header">
    <div class="logo-container">
      <img src="/assets/img/LogoMarsal.png" class="logo" />
      <h2>Sistema de monitoreo para activos MARSAL</h2>
    </div>
    <button class="logout-button" onclick="logout()">Cerrar Sesión</button>
  </header>
  <br /><br />

  <body class="container">
    <dialog id="location-modal" class="container">
      <div id="location-alert" class="alert alert-danger d-none"></div>
      <form class="container">
        <legend id="form-title">Agregar localizacion</legend>
        <div id="serial-number">
          <label id="serial-number-label" for="serial-number-input"
            >Número de serie</label
          >
          <input id="serial-number-input" type="text" name="" value="" />
        </div>
        <div id="longitude">
          <label id="longitude-label" for="longitude-input">Longitud</label>
          <input id="longitude-input" type="text" name="" value="" />
        </div>
        <div id="latitude">
          <label id="latitude-label" for="latitude-input">Latitud</label>
          <input id="latitude-input" type="text" name="" value="" />
        </div>
        <div id="altitude">
          <label id="altitude-label" for="altitude-input">Altitud</label>
          <input id="altitude-input" type="text" name="" value="" />
        </div>
        <div id="altitude-units">
          <label id="altitude-units-label" for="altitude-units-input"
            >Unidades altitud</label
          >
          <input id="altitude-units-input" type="text" name="" value="" />
        </div>
        <div id="china-id">
          <label id="china-id-label" for="china-id-input"
            >ID de coordenadas chinas</label
          >
          <input id="china-id-input" type="text" name="" value="" />
        </div>
        <div id="datetime">
          <label id="datetime-label" for="datetime-input">Fecha</label>
          <input id="datetime-input" type="datetime-local" name="" value="" />
        </div>
        <section id="activity-section" class="d-none">
          <div class="form-check">
            <label class="form-check-label" for="active-true">Si</label>
            <input
              id="active-true"
              type="radio"
              name="opcion"
              value="true"
              class="form-check-input"
            />
          </div>
          <div class="form-check">
            <label class="form-check-label" for="active-false">No</label>
            <input
              id="active-false"
              type="radio"
              name="opcion"
              value="false"
              class="form-check-input"
            />
          </div>
        </section>

        <button id="acept-btn" type="button" class="btn btn-success">
          Aceptar
        </button>
        <button id="cancel-btn" type="button" class="btn btn-danger">
          Cancelar
        </button>
      </form>
    </dialog>

    <dialog id="search-modal" class="container">
      <div id="search-alert" class="alert alert-danger d-none"></div>
      <form class="container">
        <legend>Buscar localizacion</legend>
        <div id="longitudes">
          <label id="longitude-labels" for="longitude-inputs">Longitud</label>
          <input id="longitude-inputs" type="text" name="" value="" />
        </div>
        <div id="latitudes">
          <label id="latitude-labels" for="latitude-inputs">Latitud</label>
          <input id="latitude-inputs" type="text" name="" value="" />
        </div>
        <div id="altitudes">
          <label id="altitude-labels" for="altitude-inputs">Altitud</label>
          <input id="altitude-inputs" type="text" name="" value="" />
        </div>
        <div id="altitude-unitss">
          <label id="altitude-units-labels" for="altitude-units-inputs"
            >Unidades altitud</label
          >
          <input id="altitude-units-inputs" type="text" name="" value="" />
        </div>
        <div id="china-ids">
          <label id="china-id-labels" for="china-id-inputs"
            >ID de coordenadas chinas</label
          >
          <input id="china-id-inputs" type="text" name="" value="" />
        </div>
        <div id="datetimes">
          <label id="datetime-labels" for="datetime-inputs">Fecha</label>
          <input id="datetime-inputs" type="datetime-locals" name="" value="" />
        </div>
        <section id="activity-sections" class="d-none">
          <div class="form-check">
            <label class="form-check-label" for="active-true">Si</label>
            <input
              id="active-trues"
              type="radio"
              name="opcion"
              value="true"
              class="form-check-input"
            />
          </div>
          <div class="form-check">
            <label class="form-check-label" for="active-false">No</label>
            <input
              id="active-falses"
              type="radio"
              name="opcion"
              value="false"
              class="form-check-input"
            />
          </div>
        </section>

        <button id="acept-btns" type="button" class="btn btn-success">
          Aceptar
        </button>
        <button id="cancel-btns" type="button" class="btn btn-danger">
          Cancelar
        </button>
      </form>
    </dialog>

    <main>
      <div>
        <button id="add-location" type="button" class="btn btn-success">
          Agregar
        </button>

        <button id="update-location" type="button" class="btn btn-primary">
          Modificar
        </button>
        <button id="delete-location" type="button" class="btn btn-danger">
          Eliminar
        </button>
        <button id="search-location" type="button" class="btn btn-secondary">
          Buscar
        </button>
      </div>
      <table id="location-records" class="table"></table>
      <nav id="pager" class="pager"></nav>
    </main>
    <script src="/js/equipos.js"></script>
  </body>
</html>
