<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script type="module" src="/scripts/auth.js"></script>

    <title>Sistema de monitoreo de Marsal</title>
  </head>

  <body>
    <div class="container-form sign-up">
      <div class="welcome-back">
        <div class="message">
          <h2>Bienvenido a Proyectos y Construcciones MARSAL</h2>
          <button class="sign-up-btn">Iniciar Sesion</button>
        </div>
      </div>
      <dialog id="sign-up-alert"></dialog>
    
    </div>
    <div class="container-form sign-in">
      <dialog id="login-alert"></dialog>
      <form class="formulario">
        <h2 class="create-account">Iniciar Sesion</h2>
        <div class="iconos">
          <div class="border-icon">
            <i class="bx bx-user"></i>
          </div>
        </div>
        <p class="cuenta">Inicio se sesión</p>
        <input id="usr-input" type="text" placeholder="Usuario" />
        <input id="pwd-input" type="password" placeholder="Contraseña" />
        <input id="login-btn" type="button" value="Iniciar Sesion" />
      </form>
      <div class="welcome-back">
        <div class="mensaje">
          <h2>Ingrese sus datos</h2>

          <button class="sign-in-btn">Cancelar</button>
        </div>
      </div>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
