<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylereport1.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/scripts/report4.js"></script>
  </head>
  <body>
    <header>
      <img src="/assets/img/LogoMarsal.png" class="logo" />
      <h1>Sistema de monitoreo para activos MARSAL</h1>
      <button id="logout">Cerrar Sesión</button>
    </header>
    <br />
    <main class="main-content">
      <div id="alert" class="alert alert-danger d-none"></div>
      <form>
        <!-- Elementos HTML para la entrada de datos -->
        <label for="start-date">Fecha de inicio</label>
        <input type="date" id="start-date" required />

        <label for="end-date">Fecha de fin</label>
        <input type="date" id="end-date" required />

        <label for="serial-number">Número de serie</label>
        <input type="text" id="serial-number" required />

        <button id="summit-btn" type="button">Generar Reporte</button>
      </form>

      <table id="table" class="table"></table>
      <nav id="pager"></nav>
    </main>
  </body>
</html>
