<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <form>
      <input
        id="start-date"
        type="datetime-local"
        placeholder="Fecha de inicio"
      />
      <input id="end-date" type="datetime-local" placeholder="Fecha de fin" />
      <input
        id="days-difference"
        type="number"
        placeholder="Diferencia de dias"
      />
    </form>
  </body>
</html>
