
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f1e232;
    color: #fff;
    padding: 20px;
    position: fixed;
    transition: all 0.3s;
}


.sidebar img {
    width: 100%;         
    height: auto;        
    object-fit: cover;    
    border-radius: 8px;   
    margin-top: 10px;     
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin 0.3s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

header img.logo {
    width: 150px; 
    height: auto;
    margin-right: 10px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.row {
    display: flex;
    gap: 10px;
}

.card {
    width: 150px; 
    height: 100px;
    background-color: #3b3b98; 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}
.card:hover {
    background-color: #95332e; 
}
.reports .card {
    width: 200px;
    padding: 10px; 
    font-size: 14px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #8B0000;
    color: white; 
    border-radius: 10px;
  }
  .reports .row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5px; 
    justify-content: center;
  }

 
  .reports .card:hover {
    background-color: #3b3b98; 
  }
  /* para iconos*/
  .reports .card i {
    font-size: 20px;
    margin-bottom: 2px;
  }

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .stats {
        flex-direction: column;
    }

    header img.logo {
        width: 40px;
    }
}

  .reports .row {
    justify-content: center; 
  }
  
  .reports .card {
    margin: 10px; 
  }
  